---

import { Root, Slide, Slideshow, StyleHelper } from "@dotslide/framework";
import { Item, Row } from "@dotslide/framework/layout"
import "../global.css";
import "@dotslide/framework/themes/default.css";


import { Remote } from "@dotslide/remote"
import SectionWithSlide from "../components/SectionWithSlide.astro";
// Custom slides
import Title from "../components/slides/Title.astro";
---

<Root>
	<StyleHelper />
	<Slideshow width={1024} height={768}>
		<Title title="A Guide to Today's AI" author="Imre Gera" />
		<Slide>Hi there</Slide>
		<SectionWithSlide level={1} title="The basics" />
		<Slide>
			Oh look, another slide!
		</Slide>
		<Slide>
			<p>Here's a row:</p>
			<Row>
				<Item>One</Item>
				<Item>Two</Item>
			</Row>
		</Slide>
		<!-- <Remote serverUrl="http://localhost:9876" controllerUrl="http://localhost:5173" /> -->
	</Slideshow>
</Root>
