---

import { Counter, Root, Slide, Slideshow, StyleHelper } from "@dotslide/framework";
import { Flex, Item, List } from "@dotslide/framework/layout";
import "../global.css";
import "@dotslide/framework/themes/default.css";

import { Remote } from "@dotslide/remote";
import SectionWithSlide from "../components/SectionWithSlide.astro";
// Custom slides
import Title from "../components/slides/Title.astro";
---

<Root>
	<StyleHelper />
	<Slideshow width={1024} height={768}>
		<Title title="A Guide to Today's AI" author="Imre Gera" />
		<Slide>Hi there</Slide>
		<SectionWithSlide level={1} title="The basics" />
		<Slide>
			<p>Oh look, another slide!</p>

			<p>Here's a test counter: <Counter type="test" /></p>
		</Slide>
		<SectionWithSlide level={2} title="Introduction" />
		<Slide>
			<p>The second test counter: <Counter type="test" />, but this one is a different one: <Counter type="table" /></p>
			<p>Here's a row:</p>
			<Flex>
				<Item>One</Item>
				<Item>Two</Item>
			</Flex>

			<p>And these are two lists:</p>
			<List.Root unordered>
				<List.Item>Item 1</List.Item>
				<List.Item>Item 2</List.Item>
			</List>

			<List.Root ordered start={3}>
				<List.Item>Item 3</List.Item>
				<List.Item>Item 4</List.Item>
			</List>

			<p class="mt-8">And this is a column:</p>
			<Flex column>
				<div>One</div>
				<div>Two</div>
			</Flex>
		</Slide>
		<!-- <Remote serverUrl="http://localhost:9876" controllerUrl="http://localhost:5173" /> -->
	</Slideshow>
</Root>
